.error{
    color:red;
}
.cur{
    cursor: pointer;
}
.check-read{
    cursor: pointer;
}
.lbl{
    font-size: 11px;
    background-color: rgb(221, 221, 221);
    margin: 7px;
    padding: 0px 6px;
}
.btn-group button{
    min-width: 60px;
    padding: 5px;
    margin: 10px 15px;
}
.col-md-9{
    background: #fff;
}